{%extends "layout.html"%}

{%block html%}
    <body class="index">
        <h2><h1 class='header'>Welcome   {{ current_user.name.capitalize() }}!</h1></h2>
        <div class="logout-btn"><a href={{ url_for('logout') }}>logout</a></div>
        <div class="task-list">
            <h1>Task list</h1>
            <ul>
                {% for task in tasklist %}
                    <div>
                        <li>{{ task[1] }} </li>
                        <div class="task-option">
                            <a href="/delete/{{ task[1] }}"  class="delete" onclick="return confirm('Are you sure to delete this task?')" >delete</a> <a href="#!" class="update" onclick=" document.getElementById('modal{{ task[0] }}').style.display='block'">update</a>
                        </div>
                    </div>
                    <div id="modal{{ task[0]}}" class="modal-popup">
                        <form action="{{ url_for('update') }}" method="POST">
                        <input type="hidden" name="old_id" value="{{ task[0] }}">
                        <input type="text" name="updated-task"  value="{{ task[1] }}">
                        <button type="button" class='cancel' onclick="document.getElementById('modal').style.display='none'">&times;</button>
                        <button class='submit' onclick="document.getElementById('modal{{ task[0] }}').style.display='none'" >Edit task</button>
                        </form>
                    </div>
                {% endfor %}
            </ul>
        </div>
        <form action={{ url_for('index') }} method="POST">
            <input type="text" placeholder="Enter A New Task" class="new-task" name="newtask" required minlength="4">
            <input type="submit" class="btn" value="Add Task">
        </form>
    </body>

{%endblock%}